.text-navbar {
  display: inline-block;
  flex: left;
  margin-top: 55px;
  margin-left: 60px;
  color: rgb(234, 240, 237);
  font-family: "DotGothic16", sans-serif;
  font-weight: 900;
  letter-spacing: 8px;
  text-shadow: red 7px 4px 5px;
  font-size: 35px;
}
.navbar-principal {
  background-image: url("../images/background_university.png");
}
.table-school {
  margin-top: 16px;
}
.card-formulario {
  margin-top: 8px;
  padding: 15px;
  margin-bottom: 75px;
}
.border_form {
  border: rgb(141, 19, 19) solid 3px;
  border-radius: 6px;

  margin-top: 15px;
  margin-right: 12px;
  margin-left: 85px;
}
.table-dates {
  z-index: 9;
}
